@model List<TestApplication.Controllers.Employee>
@inject IPagingConfig config
@{
    ViewData["Title"] = "Home Page";
}

<h1>Search Result</h1>
<table class="table table-hover table-striped">
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Age</td>
        </tr>
    }
</table>
<p>
    @Html.RenderPagination((int)ViewBag.TotalCount, (int)ViewBag.ItemsPerPage, config)
</p>